.main {
  h1 {
    font-size: 1.8rem;
  }
  .list {
    margin-top: 20px;
  }

  ion-fab-button.add {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  ion-fab-button.help {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
}
